.main {
  padding: 10px 10px 20px 20px;
  position: relative;
  height: auto;
  min-height: 100%;
  h2 {
    padding: 10px 15px;
    border: {
      top: solid 3px #3c8dbc;
      bottom: solid 1px #cccccc;
    };
    font: {
      size: 16px;
      weight: bold;
    };
    background-color: #ffffff;
  }
}