@import "../helpers/mixins";
.main {
  .management-name {
    label {
      padding-top: 0 !important;
    }
  }
  .border-none-label {
    position: relative;
    margin-top: 32px;
    .inner-text {
      @include center-inside-element();
    }
  }
  .close-up {
    button {
      float: right;
      background-color: #f4f4f4;
      color: #444;
      border-color: #ddd;
      width: 114px;
      border-radius: 5px;
      height: 40px;
    }
  }
}

@media (max-width: 428px) {
  .main .cumulative .number-target {
    margin-right: 20px;
  }
}