.main {
  .management-name {
    margin-top: 30px;
    margin-bottom: 30px;
    input {
      background-color: #f0f0f0;
    }
  }
  .border-left {
    background-color: #f0f0f0;
  }
  .cumulative {
    border: 1px solid #d2d6de;
    margin: 20px 0;
    height: 34px;
    .number-target {
      float: left;
      margin-right: 50px;
      padding: 5px 0 0 5px;
      .txt {
        margin-right: 10px;
      }
    }
    .number-transmissions {
      padding: 5px 0;
      .txt {
        margin-right: 10px;
      }
    }
  }
  .table-content {
    margin: 0;
  }
}